@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --cor00: #fff;
    --cor01: #222;
    --cor02: rgb(99, 160, 252);
    --cor03: rgb(129, 3, 3);
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor01);
    align-items: center;
    padding: 10px;
}
.logo{
    color: var(--cor00);
}
.menu-bar a{
    color: var(--cor00);
    padding-right: 10px;
}
.menu-bar a:hover{
    color: var(--cor02);
}
