@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

/*
320px — 480px: dispositivos móveis.
481px — 768px: iPads, tablets.
769px — 1024px: telas pequenas, laptops.
1025px — 1200px: desktops, telas grandes.
1201px e acima — telas muito grandes, TVs.
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen  and (min-width: 900px) and (max-width: 1500px) {
    header {
        width: 100vw;
        height: 170px;
        background-color: rgb(41, 41, 44);
    }
    #burger{
        visibility: hidden;
    }
    header > nav{
        width: 300px;
        height: 10px;
        padding-top: 20px;
    }
    header > nav > ul > li > a {
        text-align: center;
        text-decoration: none;
        padding-left: 10px;
        color: white;
    }
    header > nav > ul > li > a:hover {
        background-color: rgb(218, 234, 245);
        width: 50px;
        height: 10px;
        border-radius: 10px;
        font-size: 15pt;
        color: black;
        transition-duration: 0.5s;}
    nav{
        padding-top: 15px;
    }
    header > menu {
        display: flex;
        padding-top: -5px;
        position: absolute;
        left: 80%;
        width: 200px;
        height: 10px;
        text-align: right;
        margin-left: 10px;
    }
    header > menu > a {
        display: block;
        margin-top: -10px;
        margin-right: 30px;
        color: white;
        padding-left: 10px;
    }
    main{
        background-color: rgb(243, 243, 243);
        margin-top: -50px;
        margin-left: 70px;
        border-radius: 10px;
        width: 90vw;
        height: 77vh;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
    }
    main > h1 {
        font-size: 40pt;
        font-family: 'Gruppo', cursive;
        text-align: center;
        padding-top: 10px;
    }
    main > img {
        position: absolute;
        left: 45%;
        top: 40%;
        text-align: center;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    footer > p {
        text-align: center;
        color: rgb(187, 187, 187);
        margin-top: -20px;
    }
}

@media screen and (min-width: 220px) and (max-width: 540px){/*celular*/
    header {
        width: 100vw;
        height: 150px;
        background-color: rgb(41, 41, 44);
    }
    #burger{
        color: white;
        display: inline-block;
        padding: 10px;
    }
    #burger:hover{
        background-color: rgb(41, 41, 41);
    }
    header > nav {
        display: none;
    }
    header > nav > ul{
        width: 100px;
    }
    header > nav > ul > li{
        width: 100px;
    }
    header > nav > ul > li > a {
        text-align: center;
        text-decoration: none;
        padding-left: 10px;
        color: white;
    }
    header > nav > ul > li > a:hover {
        background-color: rgb(218, 234, 245);
        margin-left: 5px;
        margin-right: 5px;
        width: 50px;
        height: 10px;
        border-radius: 10px;
        font-size: 15pt;
        color: black;
        transition-duration: 0.5s;}
    nav{
        padding-top: 15px;
    }
    menu{
        displ
    }
    header > menu {
        position: absolute;
        left: 60%;
        width: 180px;
        height: 10px;
        margin: 5px;
    }
    header > menu > a {
        margin-top: -10px;
        margin-right: 30px;
        color: white;
        padding-left: 10px;
    }
    main{
        background-color: rgb(243, 243, 243);
        margin-top: -40px;
        margin-left: 15%;
        border-radius: 10px;
        width: 70vw;
        height: 80vh;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
    }
    main > h1 {
        font-size: 23pt;
        font-family: 'Gruppo', cursive;
        text-align: center;
        padding-top: 10px;
    }
    main > img {
        position: absolute;
        left: 32%;
        top: 40%;
        text-align: center;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    footer > p {
        font-size: 8pt;
        text-align: center;
        color: rgb(187, 187, 187);
        margin-top: -20px;
    }
    
    }