@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100vw;
    height: 170px;
    background-color: rgb(41, 41, 44);
}
header > nav {
    width: 300px;
    height: 10px;
    padding-top: 20px;
}
header > nav > a {
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    color: white;
}
header > nav > a:hover {
    background-color: rgb(218, 234, 245);
    width: 50px;
    height: 10px;
    border-radius: 10px;
    font-size: 15pt;
    color: black;
    transition-duration: 0.5s;}
nav{
    padding-top: 15px;
}
header > menu {
    padding-top: -5px;
    position: absolute;
    left: 80%;
    width: 200px;
    height: 10px;
    text-align: right;
    margin-left: 10px;
}
header > menu > a {
    margin-top: -10px;
    margin-right: 30px;
    color: white;
    padding-left: 10px;
}
main{
    background-color: rgb(243, 243, 243);
    margin-top: -50px;
    margin-left: 70px;
    border-radius: 10px;
    width: 90vw;
    height: 80vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}
main > h1 {
    font-size: 40pt;
    font-family: 'Gruppo', cursive;
    text-align: center;
    padding-top: 10px;
}
main > img {
    position: absolute;
    left: 45%;
    top: 40%;
    text-align: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
footer > p {
    text-align: center;
    color: rgb(187, 187, 187);
    margin-top: -20px;
}
@media screen and (min-width: 0px) and (max-width: 600px){/*celular*/
    header {
        width: 100vw;
        height: 100px;
        background-color: rgb(41, 41, 44);
    }
    header > nav {
        width: 300px;
        height: 10px;
        padding-top: 20px;
    }
    header > nav > a {
        text-align: center;
        text-decoration: none;
        padding-left: 10px;
        color: white;
    }
    header > nav > a:hover {
        background-color: rgb(218, 234, 245);
        width: 50px;
        height: 10px;
        border-radius: 10px;
        font-size: 15pt;
        color: black;
        transition-duration: 0.5s;}
    nav{
        padding-top: 15px;
    }
    header > menu {
        padding-top: -5px;
        position: absolute;
        left: 80%;
        width: 200px;
        height: 10px;
        text-align: right;
        margin-left: 10px;
    }
    header > menu > a {
        margin-top: -10px;
        margin-right: 30px;
        color: white;
        padding-left: 10px;
    }
    main{
        background-color: rgb(20, 19, 19);
        margin-top: -50px;
        margin-left: 70px;
        border-radius: 10px;
        width: 90vw;
        height: 80vh;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
    }
    main > h1 {
        font-size: 30pt;
        font-family: 'Gruppo', cursive;
        text-align: center;
        padding-top: 10px;
    }
    main > img {
        position: absolute;
        left: 45%;
        top: 40%;
        text-align: center;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    footer > p {
        text-align: center;
        color: rgb(187, 187, 187);
        margin-top: -20px;
    }
    
    }