/* o tamamho das fontes, das caixa ou o que quer que seja, deve ser colocado em 'REM' POIS A RESPONSIVIDADE DEPENDE DISSO*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    color: #fff;
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul {
    cursor: pointer;
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-list ul li a:hover{
    cursor: pointer;
    margin: 0px 10px 0 10px;
    background-color: #fff;
    border-radius: 15px;
    width: 200px;
    height: 30px;
    color: #24252a;
}
.nav-item {
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}
.login-button a { /*configuração menu de icones de redes cociais*/
    margin: 15px;
    display: flex;
    color: #fff;
    text-decoration: none;
    list-style: none;
    float: right;
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
.main main {
    position: absolute;
    display: block;
    width: 80vw;
    width: 70vh;
    background-color: rgb(90, 84, 84);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}
footer{
    text-align: center;
    color: #6b6b6b;
    margin-top: 98%;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}
