/* o tamamho das fontes, das caixa ou o que quer que seja, deve ser colocado em 'REM' POIS A RESPONSIVIDADE DEPENDE DISSO*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
:root{
    --cor01: #fff;
    --cor02: #24252a;
    --cor03: #464646;
    --cor04: #f3f3f3;

    --cor05: #01261F;
    --cor06: #20594F;
    --cor07: #88BFB5;
    --cor08: #F2620F;
    --cor09: #F2541B;

    --cor10: #810c5a;
    --cor11: #08b825;
}

header {
    background-color: var(--cor05);
    box-shadow: 0px 3px 10px #464646;
    position: fixed;
    width: 100vw;
    
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    color: var(--cor07);
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list ul {
    cursor: pointer;
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-list ul li a:hover{
    cursor: pointer;
    background-color: #fff;
    border-radius: 15px;
    color: #24252a;
}
.nav-item {
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}
.login-button a { /*configuração menu de icones de redes cociais*/
    margin: 15px;
    display: flex;
    color: #fff;
    text-decoration: none;
    list-style: none;
    float: right;
}
#social1:hover{
color: var(--cor11);
}
#social2:hover{
    color: var(--cor10);
}
#social3:hover{
    color: var(--cor07);
    }
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
.main{
    background-color: var(--cor04);
    background-size: cover;
    position: absolute;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.384) ;
    top: 20%;
    left: 15%;
    width: 70vw;
    height: 100vh;
    border-radius: 10px;
}
.main > h1{
    text-align: center;
}
.main > p{
    text-align: justify;
    padding-left: 10px;
    margin-right: 10px;
}
footer{
    position: absolute;
    left: 30%;
    top: 90%;
    text-align: center;
    color: #6b6b6b;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
    .main{
        background-color: var(--cor04);
        display: inline;
        background-size: cover;
        position: absolute;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.384) ;
        top: 20%;
        left: 15%;
        width: 70vw;
        height: 100vh;
        border-radius: 10px;
    }
    .main > h1{
        font-size: 12pt;
        text-align: center;
        padding-top: 10px;
    }
    .main > p{
        font-size: 11pt;
        font-weight: 100;
        padding-top: 10px;
        text-align: justify;
        padding-left: 10px;
        margin-right: 10px;
    }
    footer{
        width: 100vw;
        background-color: rgb(0, 0, 0);
        color: var(--cor04);
        display: flex;
        font-size: 8pt;
        position: absolute;
        left: 30%;
        top: 100%;
        text-align: center;
        color: #6b6b6b;
    }
}
