@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: a;
    font-family:  'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgb(255, 255, 255);
}
.central{
    background-color: rgba(0, 0, 0, 0.274);
    margin-top: 20px;
    margin: auto;
    width: 80vw;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}
.logo h1{
    color: rgb(0, 0, 0) ;
}
.menu a{
    color: rgb(0, 0, 0);
    padding-left: 10px;
}
.burger-menu{
    display: none;
}
.fechar{
    display: none;
}
.linha-horizontal{
    width: 90vw;
    height: 2px;
    background-image: linear-gradient(90deg, rgb(110, 3, 3), rgb(153, 51, 51), rgb(231, 59, 59));
    margin: auto;
    margin-bottom: 20px;
}
.home-page{
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    margin-top: 40px;
    width: 80vw;
    display: flex;
    margin-right: 10px;
}
.home-page > p{
    color: rgb(0, 0, 0);
    width: 400px;
    height: 600px;
    text-align: justify;
    margin-top: -10px;
}
.art-1 img{
    width: 500px;
    padding-left: 10px;
}
.about-page{
    background-color: rgba(0, 0, 0, 0.315);
    width: 80vw;
    height: 600px;
}
.contact-page{
    background-color: #fff;
}
.contact-page p{
    color: rgb(0, 0, 0);
    width: 80vw;
    text-align: justify;
    padding-top: 30px; 
    margin: auto;
}
#nav{
    display: none;
}
@media (max-width: 600px) {
    
    #nav{
        display: block;
    }
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: #ffffff;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
    #nav #menu li a:hover{
        background-color: aqua;
        width: 80px;
        height: 3px;

    }
    .home-page{
        background-color: rgb(255, 255, 255);
        width: 80vw;
        display: block;
        align-items: center;
        margin-right: 10px;
    }
    .art-1 img{
        width: 400px;
        padding: 10px;
    }

  }
/*@media screen and (max-width: 667px) {
    .menu{
        display: none;
    }
    .burger-menu{
        display: flex;
    }
    .linha-horizontal{
        width: 90vw;
        height: 2px;
        background-image: linear-gradient(45deg, rgb(110, 3, 3), rgb(153, 51, 51), rgb(231, 59, 59));
        margin: auto;
        margin-bottom: 20px;
    }
    .art-1 img{
        width: 300px;
        padding: 10px;
    }
    .home-page{
        background-color: rgb(255, 255, 255);
        width: 80vw;
        display: block;
        margin-right: 10px;
    }
    .home-page p{
        font-size: 10pt;
        color: rgb(0, 0, 0);
        display: block;
        width: 300px;
        height: 600px;
        text-align: justify;
    }
    .contact-page p{
        color: rgb(0, 0, 0);
        width: 80vw;
        text-align: justify;
        font-size: 10pt;
        padding-top: 30px; 
        margin: auto;
    }
}