@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: a;
    font-family:  'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgb(255, 255, 255);
}
.central{
    background-color: rgba(0, 0, 0, 0.842);
    margin-top: 20px;
    margin: auto;
    width: 80vw;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}
.logo h1{
    color: rgb(0, 0, 0) ;
}
.menu a{
    color: rgb(0, 0, 0);
    padding-left: 10px;
}
.linha-horizontal{
    width: 90vw;
    height: 2px;
    background-image: linear-gradient(45deg, rgb(110, 3, 3), rgb(153, 51, 51), rgb(231, 59, 59));
    margin: auto;
    margin-bottom: 20px;
}
.home-page{
    background-color: rgb(255, 255, 255);
    width: 80vw;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.home-page p{
    color: rgb(0, 0, 0);
    display: flex;
    width: 400px;
    height: 600px;
    text-align: justify;
}
.art-1 img{
    width: 500px;
    padding: 10px;
}
.about-page{
    background-color: black;
    width: 80vw;
    height: 600px;
}
.contact-page{
    background-color: #fff;
}
.contact-page p{
    color: rgb(0, 0, 0);
    width: 80vw;
    text-align: justify;
    padding-top: 30px; 
    margin: auto;
}